@(user: User, edit: Boolean, userDetailForm: Form[controllers.user.EditUserController.UserDetailForm])

@import helper._
@import models.DISTANCE
@import models.PastRace
@import scala.collection.SortedMap

@defining(Application.getConnectedUser()) { connectedUser =>
	@insidePage(user.username, "user", "user") {
	
		<div class="row">
			<!-- Left side -->
			<div class="span4">
						
				<!-- Personal details -->
				<section id="personal_details">
					<div class="page-header">
						<h3>@Messages("user.home.personaldetails")</h3>
					</div>
					 
					@helper.form(action = controllers.user.routes.EditUserController.save(user.username), 'class -> "form-horizontal", 'method -> "POST") {
						
						<div class="detail">
							<label>Name:</label>
							@if(edit) {
								<input type="text" name="fullname" value="@user.fullname" />
							} else {
								<span>@user.fullname</span>
							}
						</div>
						
						<div class="detail">
							<label>Town:</label>
							@if(edit) {
								<input type="text" name="town" value="@user.town" />
							} else {
								<span>@user.town</span>
							}
							
						</div>
						
						<div class="detail">
							<label>Country:</label>
							@if(edit) {
								<input type="text" name="country" value="@user.country" />
							} else {
								<span>@user.country</span>
							}
						</div>
						
						@if(edit) {
							<button type="submit" class="btn btn-primary">@Messages("general.submit")</button>
							<button class="btn" onclick="document.location.href='@controllers.user.routes.UserController.index(user.username)'; return false;">Cancel</button>
						} else {
							@if(user == connectedUser) {
							<input type="submit" class="btn primary" onclick="document.location.href='@controllers.user.routes.EditUserController.index(user.username)'; return false;" value="@Messages("general.edit")">
							}
						}
					}
					
				</section>
				
				<!-- Follow / Unfollow -->
				@if(connectedUser != null && connectedUser != user) {
					@if(connectedUser.isFollowing(user)) {
						<a class="btn btn-small" href="@controllers.user.routes.EditUserController.unfollow(user.username)"><i class="icon-user"></i> Unfollow</a>
					} else {
						<a class="btn btn-small" href="@controllers.user.routes.EditUserController.follow(user.username)"><i class="icon-user"></i> Follow</a>
					} 
				}
				
				<!-- Contacts -->
				<section id="contacts">
					<div class="page-header">
						<h3>@Messages("user.home.contacts")</h3>
					</div>
					
					<dl>
						@for(contact <- user.contacts) {
							<dt><a href="@controllers.user.routes.UserController.index(contact.username)">@contact.getDisplayName()</a></dt>
						}
					</dl>
					
					@if(user == connectedUser) {
					<input type="submit" class="btn primary" value="@Messages("user.home.contacts.invite")" onclick="document.location.href='#'">
					}
					
				</section>
				
			</div>
			
			<!-- Right side -->
			<div class="span8">
			
				<!-- Personal records -->
				<section id="personal_records">
					<div class="page-header">
						<h3>@Messages("user.home.personalbests")</h3>
					</div>
					@defining(user.getPersonalBests().values()) { bests =>
						@if(bests.size() == 0) {
							<p class="nodata">@Messages("general.nodata")</p>
						} else {
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>@Messages("general.distance")</th>
										<th>@Messages("general.time")</th>
										<th>@Messages("general.speed")</th>
									</tr>
								</thead>
								<tbody>
								
									@for(pastRace <- bests) {
										<tr>
											<td>@Messages(pastRace.getFormattedDistance())</td>
											<td>@pastRace.getFormattedTime()</td>
											<td>@pastRace.getSpeed()</td>
										</tr>
									}
		
								</tbody>
							</table>
						}
					}
				</section>
				
				
				<!-- Past races -->
				<section id="past_races">
					<div class="page-header">
						<h3>@Messages("user.home.pastraces")</h3>
					</div>
					
					@if(user.pastRaces.size() == 0) {
						<p class="nodata">@Messages("general.nodata")</p>
					} else {
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>@Messages("general.race")</th>
									<th>@Messages("general.date")</th>
									<th>@Messages("general.time")</th>
									<th>@Messages("general.speed")</th>
								</tr>
							</thead>
							<tbody>
								@for(pastRace <- user.pastRaces) {
								<tr>
									<td>
									@if(user == connectedUser) {
										<a href="@controllers.user.routes.PastRaceController.edit(pastRace.id)">@pastRace.name</a>
									} else  {
										@pastRace.name
									}
									</td>
									<td>@pastRace.getFormattedDate()</td>
									<td>@pastRace.getFormattedTime()</td>
									<td>@pastRace.getSpeed()</td>
								</tr>
								}
							</tbody>
						</table>
					}
					
					@if(user == connectedUser) {
					<input onclick="document.location.href='@controllers.user.routes.PastRaceController.index()'" type="submit" class="btn primary" value="@Messages("user.home.addnewperformance")" onclick="#">
					}
				</section>
				
				
				<!-- Charts -->
				<section id="charts">
					@defining(user.getPastRacesByDistance()) { racesByDistance =>
						<div class="page-header">
							<h3>@Messages("user.home.charts")</h3>
						</div>
						
						@if(racesByDistance.size() == 0) {
							<p class="nodata">@Messages("general.nodata")</p>
						} else {
							<!-- Tabs -->
							<ul id="chartTab" class="nav nav-tabs">
							@for((distance, race) <- SortedMap.empty[DISTANCE, PastRace] ++ racesByDistance) {
								<li><a href="#chart@distance.getCode()" data-toggle="tab">@Messages(distance.getLabel())</a></li>						
							}
							</ul>
							
							<!-- Content -->
							<div id="chartTabContent" class="tab-content">
							@for(distance <- racesByDistance.keySet()) {
								<div class="tab-pane fade" id="chart@distance.getCode()">
									<div id="chartDiv@distance.getCode()"></div>
								</div>
							}
							</div>
							
							<!-- Select first tab -->
							<script>
								$(document).ready(function() {
									$("#chartTab li:first a").click();
								});
							</script>
							
							<script type="text/javascript" src="https://www.google.com/jsapi"></script>
							<script type="text/javascript">
							google.load("visualization", "1", {packages:["corechart"]});
							@for(distance <- racesByDistance.keySet()) {
								google.setOnLoadCallback(drawChart@distance.getCode());
							  
								function drawChart@{distance.getCode()}() {
									var data = new google.visualization.DataTable();
									data.addColumn('date', 'Date');
									data.addColumn('number', 'Time (min)');
									data.addColumn({type:'string', role:'tooltip'});
									data.addRows([
										@for(pastRace <- racesByDistance.get(distance)) {									
											[new Date(@pastRace.getYear(), @pastRace.getMonth(), @pastRace.getDay()),  @pastRace.time / 60, "@pastRace.getFormattedDate()\n@pastRace.name\n@pastRace.getFormattedTime()"],
										}
									]);
	
									var options = {
										title: '@Messages(distance.getLabel()) Performance',
										pointSize: 5,
										width: 600,
										height: 300,
										vAxis: {viewWindow: {min: 0}},
										hAxis: {format: 'dd/MM/yyyy'}
									};
							
									var chart = new google.visualization.LineChart(document.getElementById('chartDiv@distance.getCode()'));
									chart.draw(data, options);
								}
							}
							</script>
						}
   					}
   					
   					
				</section>
				
				
				<!-- Next races -->
				<section id="next_races">
					<div class="page-header">
						<h3>@Messages("user.home.nextraces")</h3>
					</div>
					
					@if(user.nextRaces.size() == 0) {
						<p class="nodata">@Messages("general.nodata")</p>
					} else {
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>@Messages("general.race")</th>
									<th>@Messages("general.date")</th>
								</tr>
							</thead>
							<tbody>
								@for(nextRace <- user.nextRaces) {
								<tr>
									<td>
									@if(user == connectedUser) {
										<a href="@controllers.user.routes.NextRaceController.edit(nextRace.id)">@nextRace.name</a>
									} else  {
										@nextRace.name
									}
									</td>
									<td>@nextRace.getFormattedDate()</td>
								</tr>
								}
							</tbody>
						</table>
					}
					
					@if(user == connectedUser) {
					<div>
						<input onclick="document.location.href='@controllers.user.routes.NextRaceController.index()'" type="submit" class="btn primary" value="@Messages("user.home.addnextrace")">
					</div>
					}
				</section>
				
			</div>
		</div>
	}
}
