@(nextRace: Form[controllers.user.NextRaceController.NextRaceForm])

@import tags.twitterBootstrap._
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@defining(Application.getConnectedUser()) { connectedUser =>
	@insidePage("Add you next race", "nextrace", "user") {
		@form(action = controllers.user.routes.NextRaceController.save(), 'class -> "form-horizontal", 'method -> "POST") {
			<fieldset>
				@inputText(nextRace("name"), '_label -> "Name")
				@inputText(nextRace("date"), '_label -> "Date")
				@submit(cancelUrl = controllers.user.routes.UserController.index(connectedUser.username).toString)
			</fieldset>
		}
	}
}
