@(pastRace: Form[controllers.user.PastRaceController.PastRaceForm], isnew: Boolean)

@import tags.twitterBootstrap._
@import helper._
@import models.DISTANCE
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@defining(Application.getConnectedUser()) { connectedUser =>
	@insidePage("Add a new performance", "pastrace", "user") {
	
		<div class="row">
			@form(action = controllers.user.routes.PastRaceController.save(), 'class -> "form-horizontal", 'method -> "POST") {
				<fieldset>
					<input type="hidden" name="id" value='@pastRace.field("id").value()' />
					@inputText(pastRace("name"), '_label -> "Name")
					@inputText(pastRace("date"), '_label -> "Date")

					@select(
						pastRace("distance"), 
						options(DISTANCE.options()), 
						'_label -> "Distance", '_default -> "-- Choose a distance --",
						'_showConstraints -> false
					)
					
					@defining(pastRace.error("time") != null) { timeError =>
					<div class="control-group@if(timeError){ error}">
						<label class="control-label">Time</label>
						<div class="controls">
						    <input class="small" maxlength="2" type="text" id="hours" name="hours" value='@pastRace.field("hours").value()'><span class="labelinline">hours</span>
						    <input class="small" maxlength="2" type="text" id="minutes" name="minutes" value='@pastRace.field("minutes").value()'><span class="labelinline">minutes</span>
						    <input class="small" maxlength="2" type="text" id="seconds" name="seconds" value='@pastRace.field("seconds").value()'><span class="labelinline">seconds</span>
						    <p class="help-block">@if(timeError){@Messages(pastRace.error("time").message())}</p>
						</div>
					</div>
					}

					<div class="form-actions">
						<button type="submit" class="btn btn-primary">@Messages("general.submit")</button>
						<button class="btn" onclick="document.location.href='@controllers.user.routes.UserController.index(connectedUser.username)'; return false;">Cancel</button>
						@if(!isnew) {
						<button class="btn" onclick="if(confirm('Are you sure you want to delete this race?')) {document.location.href='@controllers.user.routes.PastRaceController.delete(pastRace.field("id").value().toLong)'; return false;} else {return false;}">Delete</button>
						}
					</div>
					
				</fieldset>
			}
		</div>
	}
}
