@import scala.collection.SortedMap;

@main(Messages("general.title"), "home") {

	<header class="jumbotron masthead">
		<div class="inner">
			<h1>@Messages("home.title")</h1>
			<p class="lead">@Html(Messages("home.subtitle"))</p>
		</div>
	</header>
	
	
	<div id="home" class="container">
		<section>

			<div class="row">
				<div class="span4">
					<h2>@Messages("home.p1.title")</h2>
						@Html(Messages("home.p1.content"))
					<p>
						<a class="btn" href='@controllers.user.routes.UserController.index("ladyfanza")'>@Messages("home.p1.action") »</a>
					</p>
				</div>
				<div class="span4">
					<h2>@Messages("home.p2.title")</h2>
						@Html(Messages("home.p2.content"))
					
				</div>
				<div class="span4">
					<h2>@Messages("home.p3.title")</h2>
						@Html(Messages("home.p3.content"))
					<p>
						<a class="btn" href="@controllers.connection.routes.ConnectionController.signUp">@Messages("home.p3.action") »</a>
					</p>
				</div>
			</div>
		</section>
	</div>
}